/**
* Global Bootstrap config
*/
body {
  padding-top: 60px;
}

/*
* Control map position
*/
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

#map img{
    max-width: none;
}

/*
* Create map overlay for about text & controls
*/
#about-overlay {
  background:#000;
  position:absolute;
  top:60px;
  left:30px;
  padding:10px;
  width:280px;
  opacity:0.9;
  z-index: 1005;
}

#about-overlay h3, #about-overlay h4{
    padding: 0;
    margin: 0;
    color: #FFFFFF;
}

#about-overlay p{
    padding: 0;
    margin: 5px;
    color: #FFFFFF;
}

.imhiding p {
  display:none;
  }
.imhiding h3 {
  display:none;
  }
#hide {
  position:absolute;
  right:5px;
  top:0px;
  font-weight:bold;
  color:#eee;
  text-decoration:none;
}

#about-overlay .attribution{
  font-size: 10px;
  color: #D8D8D8;
}

/*
* Try and organise the share bar TODO
*/
#share-bar-container div{
  margin: 0;
  padding: 0;
}
